In [16]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("ComputerSales.csv")

In [5]:
display(df.describe())

         Sale ID        Age   Sale Price      Profit         Year
count  39.000000  39.000000    39.000000   39.000000    39.000000
mean   20.000000  45.666667   837.169487  139.974615  2018.871795
std    11.401754   9.820315   342.229138   44.746575     0.800641
min     1.000000  23.000000   399.990000   72.090000  2018.000000
25%    10.500000  43.000000   564.990000  118.640000  2018.000000
50%    20.000000  46.000000   699.990000  143.090000  2019.000000
75%    29.500000  53.000000  1149.990000  163.515000  2019.500000
max    39.000000  57.000000  1349.990000  230.890000  2020.000000

In [6]:
display(df)

,Sale ID,Contact,Sex,Age,State,Product ID,Product Type,Sale Price,Profit,Lead,Month,Year
0,1,Paul Thomas,M,43,OH,M01-F0024,Desktop,479.99,143.39,Website,January,2018
1,2,Margo Simms,F,37,WV,GT13-0024,Desktop,1249.99,230.89,Flyer 4,January,2018
2,3,Sam Stine,M,26,PA,I3670,Desktop,649.99,118.64,Website,February,2018
3,4,Moe Eggert,M,35,PA,I3593,Laptop,399.99,72.09,Website,March,2018
4,5,Jessica Elk,F,55,PA,15M-ED,Laptop,699.99,98.09,Flyer 4,March,2018
5,6,Sally Struthers,F,45,PA,GT13-0024,Desktop,1249.99,230.89,Flyer 2,April,2018
6,7,Michelle Samms,F,46,OH,GA401IV,Laptop,1349.99,180.34,Email,May,2018
7,8,Mick Roberts,M,23,OH,MY2J2LL,Tablet,999.99,146.69,Website,July,2018
8,9,Ed Klondike,M,52,OH,81TC00,Laptop,649.99,122.34,Email,July,2018
9,10,Phil Jones,M,56,WV,M01-F0024,Desktop,479.99,143.39,Flyer 2,August,2018
10,11,Rick James,M,49,PA,GA401IV,Laptop,1349.99,180.34,Flyer 3,November,2018
11,12,Sue Etna,F,54,OH,GT13-0024,Desktop,1249.99,230.89,Flyer 2,November,2018
12,13,Jason Case,M,57,PA,81TC00,Laptop,649.99,122.34,Email,November,2018
13,14,Doug Johnson,M,51,PA,I3670,Desktop,649.99,118.64,Website,December,2018
14,15,Andy Sands,M,56,OH,MY2J2LL,Tablet,999.99,146.69,Flyer 1,December,2018
15,16,Kim Collins,F,49,PA,I3593,Laptop,399.99,72.09,Flyer 2,January,2019
16,17,Edna Sanders,F,46,OH,15M-ED,Laptop,699.99,98.09,Email,February,2019
17,18,Michelle Samms,F,46,NY,MY2J2LL,Tablet,999.99,146.69,Website,March,2019
18,19,Mick Roberts,M,23,PA,I3593,Laptop,399.99,72.09,Flyer 4,March,2019
19,20,Sally Struthers,F,45,NY,81TC00,Laptop,649.99,122.34,Website,April,2019
20,21,Jason Case,M,57,PA,M01-F0024,Desktop,479.99,143.39,Flyer 4,May,2019
21,22,Doug Johnson,M,51,PA,GA401IV,Laptop,1349.99,180.34,Website,August,2019
22,23,Paul Thomas,M,43,OH,81TC00,Laptop,649.99,122.34,Website,August,2019
23,24,Margo Simms,F,37,WV,Q526FA,Laptop,1049.99,143.09,Flyer 4,November,2019
24,25,Michelle Samms,F,46,NY,I3670,Desktop,649.99,118.64,Flyer 2,November,2019
25,26,Mick Roberts,M,23,PA,Q526FA,Laptop,1049.99,143.09,Email,November,2019
26,27,Ed Klondike,M,52,OH,Q526FA,Laptop,1049.99,143.09,Website,December,2019
27,28,Moe Eggert,M,35,PA,15M-ED,Laptop,699.99,98.09,Email,December,2019
28,29,Jessica Elk,F,55,PA,GA401IV,Laptop,1349.99,180.34,Flyer 2,December,2019
29,30,Phil Jones,M,56,WV,M01-F0024,Desktop,479.99,143.39,Flyer 2,January,2020
30,31,Rick James,M,49,PA,GA401IV,Laptop,1349.99,180.34,Flyer 1,January,2020
31,32,Sue Etna,F,54,OH,GT13-0024,Desktop,1249.99,230.89,Flyer 2,February,2020
32,33,Kim Collins,F,49,PA,I3593,Laptop,399.99,72.09,Flyer 2,March,2020
33,34,Edna Sanders,F,46,OH,15M-ED,Laptop,699.99,98.09,Email,March,2020
34,35,Michelle Samms,F,46,NY,MY2J2LL,Tablet,999.99,146.69,Website,April,2020
35,36,Sally Struthers,F,45,NY,81TC00,Laptop,649.99,122.34,Website,April,2020
36,37,Jason Case,M,57,PA,M01-F0024,Desktop,479.99,143.39,Flyer 4,April,2020
37,38,Doug Johnson,M,51,PA,GA401IV,Laptop,1349.99,180.34,Website,May,2020
38,39,Moe Eggert,M,35,PA,I3593,Laptop,399.99,72.09,Website,May,2020

In [7]:
df_state_group = df.groupby(["State"])

In [8]:
display(df_state_group)

In [9]:
display(df_state_group.describe())

      Sale ID                                                       Age  \
        count       mean        std   min   25%   50%   75%   max count
State
NY        5.0  26.800000   8.348653  18.0  20.0  25.0  35.0  36.0   5.0
OH       11.0  16.818182  10.861107   1.0   8.5  15.0  25.0  34.0  11.0
PA       19.0  20.789474  11.988786   3.0  12.0  21.0  30.0  39.0  19.0
WV        4.0  16.500000  12.793227   2.0   8.0  17.0  25.5  30.0   4.0

                  ...   Profit          Year                                 \
            mean  ...      75%     max count         mean       std     min
State             ...
NY     45.600000  ...  146.690  146.69   5.0  2019.400000  0.547723  2019.0
OH     46.818182  ...  163.515  230.89  11.0  2018.636364  0.809040  2018.0
PA     44.842105  ...  180.340  230.89  19.0  2018.894737  0.809303  2018.0
WV     46.500000  ...  165.265  230.89   4.0  2018.750000  0.957427  2018.0


          25%     50%      75%     max
State
NY     2019.0  2019.0  2020.00  2020.0
OH     2018.0  2018.0  2019.00  2020.0
PA     2018.0  2019.0  2019.50  2020.0
WV     2018.0  2018.5  2019.25  2020.0

[4 rows x 40 columns]

In [10]:
df_state_group

In [11]:
display(df_state_group)

In [12]:
df_state_group.describe()

      Sale ID                                                       Age  \
        count       mean        std   min   25%   50%   75%   max count
State
NY        5.0  26.800000   8.348653  18.0  20.0  25.0  35.0  36.0   5.0
OH       11.0  16.818182  10.861107   1.0   8.5  15.0  25.0  34.0  11.0
PA       19.0  20.789474  11.988786   3.0  12.0  21.0  30.0  39.0  19.0
WV        4.0  16.500000  12.793227   2.0   8.0  17.0  25.5  30.0   4.0

                  ...   Profit          Year                                 \
            mean  ...      75%     max count         mean       std     min
State             ...
NY     45.600000  ...  146.690  146.69   5.0  2019.400000  0.547723  2019.0
OH     46.818182  ...  163.515  230.89  11.0  2018.636364  0.809040  2018.0
PA     44.842105  ...  180.340  230.89  19.0  2018.894737  0.809303  2018.0
WV     46.500000  ...  165.265  230.89   4.0  2018.750000  0.957427  2018.0


          25%     50%      75%     max
State
NY     2019.0  2019.0  2020.00  2020.0
OH     2018.0  2018.0  2019.00  2020.0
PA     2018.0  2019.0  2019.50  2020.0
WV     2018.0  2018.5  2019.25  2020.0

[4 rows x 40 columns]

In [23]:
 df_grouped.agg({"Agg": 'mean', 'Profit': 'sum'}) #functions are run on a SPECIFIC Column

SpecificationError: nested renamer is not supported

In [14]:
def agg_f(column):
    return np.max(column) - np.min(column)

In [17]:
display(df_state_group.agg(func=agg_f))

       Sale ID  Age  Sale Price  Profit  Year
State
NY          18    1       350.0   28.05     1
OH          33   33       870.0  132.80     2
PA          36   34       950.0  158.80     2
WV          28   19       770.0   87.80     2

In [18]:
display(df_state_group.agg(func = [np.sum, np.mean]))

      Sale ID             Age            Sale Price               Profit  \
          sum       mean  sum       mean        sum        mean      sum
State
NY        134  26.800000  228  45.600000    3949.95  789.990000   656.70
OH        185  16.818182  515  46.818182   10079.89  916.353636  1662.84
PA        395  20.789474  852  44.842105   15359.81  808.411053  2478.71
WV         66  16.500000  186  46.500000    3259.96  814.990000   660.76

                    Year
             mean    sum         mean
State
NY     131.340000  10097  2019.400000
OH     151.167273  22205  2018.636364
PA     130.458421  38359  2018.894737
WV     165.190000   8075  2018.750000

In [19]:
df_grouped = df.groupby(["Product Type"])

In [20]:
df_grouped.describe()

             Sale ID                                                       \
               count       mean        std  min    25%   50%    75%   max
Product Type
Desktop         12.0  16.083333  12.594792  1.0   5.25  13.0  26.25  37.0
Laptop          23.0  22.217391  10.659850  4.0  14.50  23.0  30.00  39.0
Tablet           4.0  19.000000  11.460076  8.0  13.25  16.5  22.25  35.0

               Age             ...   Profit          Year               \
             count       mean  ...      75%     max count         mean
Product Type                   ...
Desktop       12.0  48.500000  ...  230.890  230.89  12.0  2018.666667
Laptop        23.0  44.695652  ...  161.715  180.34  23.0  2019.000000
Tablet         4.0  42.750000  ...  146.690  146.69   4.0  2018.750000


                   std     min     25%     50%      75%     max
Product Type
Desktop       0.887625  2018.0  2018.0  2018.0  2019.25  2020.0
Laptop        0.738549  2018.0  2018.5  2019.0  2019.50  2020.0
Tablet        0.957427  2018.0  2018.0  2018.5  2019.25  2020.0

[3 rows x 40 columns]

In [21]:
display(df_grouped.agg(func = [np.sum, np.mean]))

             Sale ID              Age            Sale Price              \
                 sum       mean   sum       mean        sum        mean
Product Type
Desktop          193  16.083333   582  48.500000    9349.88  779.156667
Laptop           511  22.217391  1028  44.695652   19299.77  839.120435
Tablet            76  19.000000   171  42.750000    3999.96  999.990000

               Profit               Year
                  sum        mean    sum         mean
Product Type
Desktop       1996.43  166.369167  24224  2018.666667
Laptop        2875.82  125.035652  46437  2019.000000
Tablet         586.76  146.690000   8075  2018.750000

In [22]:
df.head()

,Sale ID,Contact,Sex,Age,State,Product ID,Product Type,Sale Price,Profit,Lead,Month,Year
0,1,Paul Thomas,M,43,OH,M01-F0024,Desktop,479.99,143.39,Website,January,2018
1,2,Margo Simms,F,37,WV,GT13-0024,Desktop,1249.99,230.89,Flyer 4,January,2018
2,3,Sam Stine,M,26,PA,I3670,Desktop,649.99,118.64,Website,February,2018
3,4,Moe Eggert,M,35,PA,I3593,Laptop,399.99,72.09,Website,March,2018
4,5,Jessica Elk,F,55,PA,15M-ED,Laptop,699.99,98.09,Flyer 4,March,2018

In [29]:
#Transform functions may run across columns
#display(df)
df_grouped = df.groupby('Product Type')
display(df_grouped.transform(func= np.max)) #for each group, will give us the max value per column

,Sale ID,Contact,Sex,Age,State,Product ID,Sale Price,Profit,Lead,Month,Year
0,37,Sue Etna,M,57,WV,M01-F0024,1249.99,230.89,Website,November,2020
1,37,Sue Etna,M,57,WV,M01-F0024,1249.99,230.89,Website,November,2020
2,37,Sue Etna,M,57,WV,M01-F0024,1249.99,230.89,Website,November,2020
3,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
4,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
5,37,Sue Etna,M,57,WV,M01-F0024,1249.99,230.89,Website,November,2020
6,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
7,35,Mick Roberts,M,56,OH,MY2J2LL,999.99,146.69,Website,March,2020
8,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
9,37,Sue Etna,M,57,WV,M01-F0024,1249.99,230.89,Website,November,2020
10,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
11,37,Sue Etna,M,57,WV,M01-F0024,1249.99,230.89,Website,November,2020
12,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
13,37,Sue Etna,M,57,WV,M01-F0024,1249.99,230.89,Website,November,2020
14,35,Mick Roberts,M,56,OH,MY2J2LL,999.99,146.69,Website,March,2020
15,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
16,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
17,35,Mick Roberts,M,56,OH,MY2J2LL,999.99,146.69,Website,March,2020
18,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
19,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
20,37,Sue Etna,M,57,WV,M01-F0024,1249.99,230.89,Website,November,2020
21,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
22,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
23,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
24,37,Sue Etna,M,57,WV,M01-F0024,1249.99,230.89,Website,November,2020
25,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
26,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
27,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
28,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
29,37,Sue Etna,M,57,WV,M01-F0024,1249.99,230.89,Website,November,2020
30,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
31,37,Sue Etna,M,57,WV,M01-F0024,1249.99,230.89,Website,November,2020
32,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
33,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
34,35,Mick Roberts,M,56,OH,MY2J2LL,999.99,146.69,Website,March,2020
35,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
36,37,Sue Etna,M,57,WV,M01-F0024,1249.99,230.89,Website,November,2020
37,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020
38,39,Sally Struthers,M,57,WV,Q526FA,1349.99,180.34,Website,November,2020

In [32]:
#filter function, filter our entries by a certain value, like having a desktop or not.
#Filter function MUST return a boolean value.

def filter_f(group):
    return len(group) >= 15

df_grouped.filter(func=filter_f)

,Sale ID,Contact,Sex,Age,State,Product ID,Sale Price,Profit,Lead,Month,Year
3,4,Moe Eggert,M,35,PA,I3593,399.99,72.09,Website,March,2018
4,5,Jessica Elk,F,55,PA,15M-ED,699.99,98.09,Flyer 4,March,2018
6,7,Michelle Samms,F,46,OH,GA401IV,1349.99,180.34,Email,May,2018
8,9,Ed Klondike,M,52,OH,81TC00,649.99,122.34,Email,July,2018
10,11,Rick James,M,49,PA,GA401IV,1349.99,180.34,Flyer 3,November,2018
12,13,Jason Case,M,57,PA,81TC00,649.99,122.34,Email,November,2018
15,16,Kim Collins,F,49,PA,I3593,399.99,72.09,Flyer 2,January,2019
16,17,Edna Sanders,F,46,OH,15M-ED,699.99,98.09,Email,February,2019
18,19,Mick Roberts,M,23,PA,I3593,399.99,72.09,Flyer 4,March,2019
19,20,Sally Struthers,F,45,NY,81TC00,649.99,122.34,Website,April,2019
21,22,Doug Johnson,M,51,PA,GA401IV,1349.99,180.34,Website,August,2019
22,23,Paul Thomas,M,43,OH,81TC00,649.99,122.34,Website,August,2019
23,24,Margo Simms,F,37,WV,Q526FA,1049.99,143.09,Flyer 4,November,2019
25,26,Mick Roberts,M,23,PA,Q526FA,1049.99,143.09,Email,November,2019
26,27,Ed Klondike,M,52,OH,Q526FA,1049.99,143.09,Website,December,2019
27,28,Moe Eggert,M,35,PA,15M-ED,699.99,98.09,Email,December,2019
28,29,Jessica Elk,F,55,PA,GA401IV,1349.99,180.34,Flyer 2,December,2019
30,31,Rick James,M,49,PA,GA401IV,1349.99,180.34,Flyer 1,January,2020
32,33,Kim Collins,F,49,PA,I3593,399.99,72.09,Flyer 2,March,2020
33,34,Edna Sanders,F,46,OH,15M-ED,699.99,98.09,Email,March,2020
35,36,Sally Struthers,F,45,NY,81TC00,649.99,122.34,Website,April,2020
37,38,Doug Johnson,M,51,PA,GA401IV,1349.99,180.34,Website,May,2020
38,39,Moe Eggert,M,35,PA,I3593,399.99,72.09,Website,May,2020

In [33]:
#apply function
df_grouped.apply(func=np.mean) #apply similar to transform. Transform works column wise, and returns a series/df (cant change output size)
#apply works on teh whole dataframe and can change the size of the output

                Sale ID        Age  Sale Price      Profit         Year
Product Type
Desktop       16.083333  48.500000  779.156667  166.369167  2018.666667
Laptop        22.217391  44.695652  839.120435  125.035652  2019.000000
Tablet        19.000000  42.750000  999.990000  146.690000  2018.750000

In [34]:
#concat
df1 = df.loc[:3]
df2 = df.loc[3:]

In [35]:
print(len(df1))
print(len(df2))

4
36

In [42]:
res1 = pd.concat([df1,df2], axis = 0) #appends one dataframe after another
#axis is the 0, which means columnwise. Axis is 1 means one next to another in a horizontal fashion

In [38]:
print(len(res1))
display(res1)

40

,Sale ID,Contact,Sex,Age,State,Product ID,Product Type,Sale Price,Profit,Lead,Month,Year
0,1,Paul Thomas,M,43,OH,M01-F0024,Desktop,479.99,143.39,Website,January,2018
1,2,Margo Simms,F,37,WV,GT13-0024,Desktop,1249.99,230.89,Flyer 4,January,2018
2,3,Sam Stine,M,26,PA,I3670,Desktop,649.99,118.64,Website,February,2018
3,4,Moe Eggert,M,35,PA,I3593,Laptop,399.99,72.09,Website,March,2018
3,4,Moe Eggert,M,35,PA,I3593,Laptop,399.99,72.09,Website,March,2018
4,5,Jessica Elk,F,55,PA,15M-ED,Laptop,699.99,98.09,Flyer 4,March,2018
5,6,Sally Struthers,F,45,PA,GT13-0024,Desktop,1249.99,230.89,Flyer 2,April,2018
6,7,Michelle Samms,F,46,OH,GA401IV,Laptop,1349.99,180.34,Email,May,2018
7,8,Mick Roberts,M,23,OH,MY2J2LL,Tablet,999.99,146.69,Website,July,2018
8,9,Ed Klondike,M,52,OH,81TC00,Laptop,649.99,122.34,Email,July,2018
9,10,Phil Jones,M,56,WV,M01-F0024,Desktop,479.99,143.39,Flyer 2,August,2018
10,11,Rick James,M,49,PA,GA401IV,Laptop,1349.99,180.34,Flyer 3,November,2018
11,12,Sue Etna,F,54,OH,GT13-0024,Desktop,1249.99,230.89,Flyer 2,November,2018
12,13,Jason Case,M,57,PA,81TC00,Laptop,649.99,122.34,Email,November,2018
13,14,Doug Johnson,M,51,PA,I3670,Desktop,649.99,118.64,Website,December,2018
14,15,Andy Sands,M,56,OH,MY2J2LL,Tablet,999.99,146.69,Flyer 1,December,2018
15,16,Kim Collins,F,49,PA,I3593,Laptop,399.99,72.09,Flyer 2,January,2019
16,17,Edna Sanders,F,46,OH,15M-ED,Laptop,699.99,98.09,Email,February,2019
17,18,Michelle Samms,F,46,NY,MY2J2LL,Tablet,999.99,146.69,Website,March,2019
18,19,Mick Roberts,M,23,PA,I3593,Laptop,399.99,72.09,Flyer 4,March,2019
19,20,Sally Struthers,F,45,NY,81TC00,Laptop,649.99,122.34,Website,April,2019
20,21,Jason Case,M,57,PA,M01-F0024,Desktop,479.99,143.39,Flyer 4,May,2019
21,22,Doug Johnson,M,51,PA,GA401IV,Laptop,1349.99,180.34,Website,August,2019
22,23,Paul Thomas,M,43,OH,81TC00,Laptop,649.99,122.34,Website,August,2019
23,24,Margo Simms,F,37,WV,Q526FA,Laptop,1049.99,143.09,Flyer 4,November,2019
24,25,Michelle Samms,F,46,NY,I3670,Desktop,649.99,118.64,Flyer 2,November,2019
25,26,Mick Roberts,M,23,PA,Q526FA,Laptop,1049.99,143.09,Email,November,2019
26,27,Ed Klondike,M,52,OH,Q526FA,Laptop,1049.99,143.09,Website,December,2019
27,28,Moe Eggert,M,35,PA,15M-ED,Laptop,699.99,98.09,Email,December,2019
28,29,Jessica Elk,F,55,PA,GA401IV,Laptop,1349.99,180.34,Flyer 2,December,2019
29,30,Phil Jones,M,56,WV,M01-F0024,Desktop,479.99,143.39,Flyer 2,January,2020
30,31,Rick James,M,49,PA,GA401IV,Laptop,1349.99,180.34,Flyer 1,January,2020
31,32,Sue Etna,F,54,OH,GT13-0024,Desktop,1249.99,230.89,Flyer 2,February,2020
32,33,Kim Collins,F,49,PA,I3593,Laptop,399.99,72.09,Flyer 2,March,2020
33,34,Edna Sanders,F,46,OH,15M-ED,Laptop,699.99,98.09,Email,March,2020
34,35,Michelle Samms,F,46,NY,MY2J2LL,Tablet,999.99,146.69,Website,April,2020
35,36,Sally Struthers,F,45,NY,81TC00,Laptop,649.99,122.34,Website,April,2020
36,37,Jason Case,M,57,PA,M01-F0024,Desktop,479.99,143.39,Flyer 4,April,2020
37,38,Doug Johnson,M,51,PA,GA401IV,Laptop,1349.99,180.34,Website,May,2020
38,39,Moe Eggert,M,35,PA,I3593,Laptop,399.99,72.09,Website,May,2020

In [39]:
res2 = pd.concat([df1, df2], axis = 0, keys = ['a', 'b']) #assigned a key to each entry/df being inputed

In [41]:
display(res1)

      Sale ID          Contact Sex  Age State Product ID Product Type  \
a 0         1      Paul Thomas   M   43    OH  M01-F0024      Desktop
  1         2      Margo Simms   F   37    WV  GT13-0024      Desktop
  2         3        Sam Stine   M   26    PA      I3670      Desktop
  3         4       Moe Eggert   M   35    PA      I3593       Laptop
b 3         4       Moe Eggert   M   35    PA      I3593       Laptop
  4         5      Jessica Elk   F   55    PA     15M-ED       Laptop
  5         6  Sally Struthers   F   45    PA  GT13-0024      Desktop
  6         7   Michelle Samms   F   46    OH    GA401IV       Laptop
  7         8     Mick Roberts   M   23    OH    MY2J2LL       Tablet
  8         9      Ed Klondike   M   52    OH     81TC00       Laptop
  9        10       Phil Jones   M   56    WV  M01-F0024      Desktop
  10       11       Rick James   M   49    PA    GA401IV       Laptop
  11       12         Sue Etna   F   54    OH  GT13-0024      Desktop
  12       13       Jason Case   M   57    PA     81TC00       Laptop
  13       14     Doug Johnson   M   51    PA      I3670      Desktop
  14       15       Andy Sands   M   56    OH    MY2J2LL       Tablet
  15       16      Kim Collins   F   49    PA      I3593       Laptop
  16       17     Edna Sanders   F   46    OH     15M-ED       Laptop
  17       18   Michelle Samms   F   46    NY    MY2J2LL       Tablet
  18       19     Mick Roberts   M   23    PA      I3593       Laptop
  19       20  Sally Struthers   F   45    NY     81TC00       Laptop
  20       21       Jason Case   M   57    PA  M01-F0024      Desktop
  21       22     Doug Johnson   M   51    PA    GA401IV       Laptop
  22       23      Paul Thomas   M   43    OH     81TC00       Laptop
  23       24      Margo Simms   F   37    WV     Q526FA       Laptop
  24       25   Michelle Samms   F   46    NY      I3670      Desktop
  25       26     Mick Roberts   M   23    PA     Q526FA       Laptop
  26       27      Ed Klondike   M   52    OH     Q526FA       Laptop
  27       28       Moe Eggert   M   35    PA     15M-ED       Laptop
  28       29      Jessica Elk   F   55    PA    GA401IV       Laptop
  29       30       Phil Jones   M   56    WV  M01-F0024      Desktop
  30       31       Rick James   M   49    PA    GA401IV       Laptop
  31       32         Sue Etna   F   54    OH  GT13-0024      Desktop
  32       33      Kim Collins   F   49    PA      I3593       Laptop
  33       34     Edna Sanders   F   46    OH     15M-ED       Laptop
  34       35   Michelle Samms   F   46    NY    MY2J2LL       Tablet
  35       36  Sally Struthers   F   45    NY     81TC00       Laptop
  36       37       Jason Case   M   57    PA  M01-F0024      Desktop
  37       38     Doug Johnson   M   51    PA    GA401IV       Laptop
  38       39       Moe Eggert   M   35    PA      I3593       Laptop

      Sale Price  Profit     Lead     Month  Year
a 0       479.99  143.39  Website   January  2018
  1      1249.99  230.89  Flyer 4   January  2018
  2       649.99  118.64  Website  February  2018
  3       399.99   72.09  Website     March  2018
b 3       399.99   72.09  Website     March  2018
  4       699.99   98.09  Flyer 4     March  2018
  5      1249.99  230.89  Flyer 2     April  2018
  6      1349.99  180.34    Email       May  2018
  7       999.99  146.69  Website      July  2018
  8       649.99  122.34    Email      July  2018
  9       479.99  143.39  Flyer 2    August  2018
  10     1349.99  180.34  Flyer 3  November  2018
  11     1249.99  230.89  Flyer 2  November  2018
  12      649.99  122.34    Email  November  2018
  13      649.99  118.64  Website  December  2018
  14      999.99  146.69  Flyer 1  December  2018
  15      399.99   72.09  Flyer 2   January  2019
  16      699.99   98.09    Email  February  2019
  17      999.99  146.69  Website     March  2019
  18      399.99   72.09  Flyer 4     March  2019
  19      649.99  122.34  Website     April  2019
  20      479.99  143.39  Flyer 4       May  2019
  21     1349.99  180.34  Website    August  2019
  22      649.99  122.34  Website    August  2019
  23     1049.99  143.09  Flyer 4  November  2019
  24      649.99  118.64  Flyer 2  November  2019
  25     1049.99  143.09    Email  November  2019
  26     1049.99  143.09  Website  December  2019
  27      699.99   98.09    Email  December  2019
  28     1349.99  180.34  Flyer 2  December  2019
  29      479.99  143.39  Flyer 2   January  2020
  30     1349.99  180.34  Flyer 1   January  2020
  31     1249.99  230.89  Flyer 2  February  2020
  32      399.99   72.09  Flyer 2     March  2020
  33      699.99   98.09    Email     March  2020
  34      999.99  146.69  Website     April  2020
  35      649.99  122.34  Website     April  2020
  36      479.99  143.39  Flyer 4     April  2020
  37     1349.99  180.34  Website       May  2020
  38      399.99   72.09  Website       May  2020

In [45]:
left = pd.DataFrame({'A':['A0', 'A1', 'A2'],
                    'B':['B0', 'B1', 'B2']},
                    index = ['K0', 'K1', 'K2'])
right = pd.DataFrame({'C':['C0', 'C1', 'C2'],
                    'D':['D0', 'D1', 'D2']},
                    index = ['K0', 'K1', 'K2'])
print(left)
print(right)

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
     C   D
K0  C0  D0
K1  C1  D1
K2  C2  D2

In [46]:
left.join(right) #join is comparing those values compared to concat which will just append them
#LEFT IS NOT UPDATED HERE

     A   B   C   D
K0  A0  B0  C0  D0
K1  A1  B1  C1  D1
K2  A2  B2  C2  D2